/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


header {
	background-color: yellow;
}

main {
	background-color: grey;
}

footer {
	background-color: yellow;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

